.container-fluid{
  float:bottom;
}

.rating_header {

background-color: 
rgb(190, 146,
116);

}



.eventName {

font-size: 30px;

margin-left: 
20%

}

.progress{
  text-decoration-color: black;
}

.jumbotron{
  background: linear-gradient(.25turn, #eab027, 60%, #f9ef27);
  /*background: linear-gradient(.25turn, #f3781e, 60%, #f9ef27);*/
  background: linear-gradient(.25turn, #f4a638, 60%, #f4ce38);
}

.card-img-top{
  padding-bottom:10px;
}

.questions{
  font-size:20px;
}

.createEvent{
  padding-top: 40px;
}

#permit{
  margin-left:150px;
  margin-right:150px;
  text-align: left;
}
