body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-nav  li{
	display: inline-block;
	margin-left: 60px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    position: relative;

}

.big-banner{
    background-image: url('image/Campaignpic.jpg');
    background-size: cover;
}

.fresh-content{
    background: linear-gradient(to right,rgb(247, 141, 2),rgb(247, 206, 1) )
}

.fresh-content a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

button,
input{
    overflow:visible;
}

button,
select{
    text-transform: none;
}
/*--------------body----------*/
section{
	margin-top:30px;
	margin-left: 20%;
}
.maindiv{
 	width:100%;
    padding-bottom: 280px;
    overflow:hidden; 
}
 
 
.leftdiv{
	float:left;
	width:40%;
}
 
.rightdiv{
	float:right;
	width:45%;
	
}
  
.centerdiv{
	float:left;
	width:5%;
	border-right: 3px solid gray;
	padding-bottom:280px; 
	margin-bottom:-280px;  
}
h3:hover,li:hover,ol:hover{
	color:#A8D8B9;

}


/*-------------foooter-----------*/ 
.footer-classic{
    position: relative;
    height: 200px;
    margin-top: -200px;
    clear: both;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
