body{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wearn-header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    margin: 0 !important;
    padding: 18px 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.wearn-header.scrollable{
    position: relative;
    top: auto;
}

.wearn-header .navbar-nav 
.nav-item .nav-link {
    color: #007db8;
	display: inline-block;
	margin-left: 60px;
    text-decoration: none;
   
    font-weight: 600;
    font-size: 22px;
    position: relative;

}

.nav-link :hover {
    color: yellow;
}



.big-banner{
    background-image: url('image/Campaignpic.jpg');
    background-size: cover;
}

.fresh-content{
    background: linear-gradient(to right,rgb(247, 141, 2),rgb(247, 206, 1) )
}

.fresh-content a{
    color:white;
    font-weight: bold;
    text-decoration: none;
}

button,
input{
    overflow:visible;
}

button,
select{
    text-transform: none;
}

/*-------------foooter-----------*/ 
.footer-classic{
    position: relative;
    height: 200px;
    /* margin-top: -200px; */
    clear: both;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
