section{
	margin-top:28px;
	margin-left:0px;
	margin-bottom:28px;
	margin-right: 0px;
}
.maindiv:{

	padding:0px;
	overflow:hidden; 
}
 
.leftdiv1{
	float:left;
	width:10%;
	min-height:0.1px;
}
.leftdiv2{
	float:left;
	width:35%;
}
 
.centerdiv{
	float:left;
	width:1px;
	border-right:3px solid gray;
	padding-bottom:1100px; 
	margin-bottom:-1100px;  
}

.rightdiv2{
	float:right;
	width:50%;
	
}

.rightdiv1{
	float:right;
	width:20%;
	min-height:1px;
	min-width: 1px;
	
}
 

h1:hover,li:hover,ol:hover{
	color:#A8D8B9;

}
h1>p: hover{
	color:white;
}

.title{
	font-size:190%;
}

.para:{
	font-size: 180%;
	
}
.para:hover{
	color: #B19693

}
