
body{
    background-color: #FCFAF2;
}

.card{
   margin-left: 14%;
   margin-right: 14%;
   box-shadow: 5px 10px #888888;
}

.jum_style{

background: -webkit-linear-gradient(right,#00AA90, #86C166); 
background: -o-linear-gradient(right,#00AA90, #86C166); 
background: -moz-linear-gradient(right,#00AA90, #86C166); 
background: linear-gradient(right,#00AA90, #86C166); 

}

.myProcessBar{
margin-left: 0px;
}

#processbarOverall{
    margin-left: 15px;
    width: 400px; 
    height: 35px;
}
#progressbar{
    width:40%;
}
.button{
    margin-left: 70px;
    display: inline;
    height: 20px;
}

.occupy{
height: 50px;
}

.Location{
     visibility: collapse;
}

.floatChat{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#0C9;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.float_chat{
  margin-top:17px;
  font-size: 30px;
}

.floatBar{
  position: fixed;
  text-align:center;
  width:100px;
  height:50px;
  bottom:40px;

}

.btn-outline-warning{
 height: 50px;
 width: 400px;
 background-color: orange; 
 font-size: 30px; 
 margin-left: 980%;

}


