#dividingLineBlock{
    top: 130px;
}

#eventNameBlock{
    position: absolute;
    top: 160px;
    left: 200px;
}

#agentNameBlock{
    position: absolute;
    top: 160px;
    left: 960px;
}

#scoreNameBlock{
    position: absolute;
    top: 160px;
    left: 1300px;
}

#activityNameBlock{
    text-align: center;
    position: absolute;
    top: 200px;
    left: 200px;
}

#agentLogoBlock{
    position: absolute;
    top: 200px;
    left: 960px;
}

#totalScoreBlock{
    text-align: center;
    position: absolute;
    top: 200px;
    left: 1300px;
}

#ratingHeaderBlockOne{
    text-align: center;
    position: absolute;
    top: 325px;
    left: 400px;
}

#ratingOneContent{
    position: absolute;
    top: 425px;
    left: 200px;
}
#ratingOneStars{
    position: absolute;
    top: 450px;
    left: 1150px;
}
#ratingTwoContent{
    position: absolute;
    top: 500px;
    left: 200px;
}
#ratingTwoStars{
    position: absolute;
    top: 525px;
    left: 1150px;
}
#ratingThreeContent{
    position: absolute;
    top: 575px;
    left: 200px;
}
#ratingThreeStars{
    position: absolute;
    top: 600px;
    left: 1150px;
}
#ratingFourContent{
    position: absolute;
    top: 650px;
    left: 200px;
}
#ratingFourStars{
    position: absolute;
    top: 675px;
    left: 1150px;
}
#ratingFiveContent{
    position: absolute;
    top: 725px;
    left: 200px;
}
#ratingFiveStars{
    position: absolute;
    top: 750px;
    left: 1150px;
}
#ratingSixContent{
    position: absolute;
    top: 800px;
    left: 200px;
}
#ratingSixStars{
    position: absolute;
    top: 825px;
    left: 1150px;
}
#ratingSevenContent{
    position: absolute;
    top: 875px;
    left: 200px;
}
#ratingSevenStars{
    position: absolute;
    top: 900px;
    left: 1150px;
}

#commentBlock{
    position: absolute;
    top: 965px;
    left: 400px;
}

#commentInputBlock{
    position: absolute;
    top: 1000px;
    left: 400px;
}

#submitBlock{
    position: absolute;
    top: 1200px;
    left: 600px;
}

#cancelBlock{
    position: absolute;
    top: 1200px;
    left: 900px;
}