
section {
    margin: 0;
    padding: 0;
}

.dividingLine{
    border-style: solid;
    border-color: rgb(30, 30, 30); 
}

.textHeader{
    border: hidden;
    color: black;
    font-size: 24px;
}

.activityName {
    width: 500px;
    height: 80px;
    font-size: 50px; 
    font-family: fantasy;
    border-style: hidden;
    border-color: rgb(167, 181, 184);
    border-collapse: collapse;
    background-image: url("image/EventBg.png");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
}

.agencyName{
    width: 240; 
    height: 90px;
    font-size: 36px;
    font-family: "Lucida Console", Courier, monospace;
    border-style: hidden;
    border-color: rgb(148, 146, 146);
    border-collapse: collapse;
}

.totalScore{
    width: 100px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-color: rgb(177, 78, 21);
    border-collapse: collapse;
}

.ratingHeader {
    float: left;
    width: 745px;
    border-style: solid;
    border-color: rgb(223, 166, 91);
    font-size: 26px;
    border-collapse: collapse;
    height: 50px;
    color: rgb(226, 147, 44);
}

.ratingContent {
    float: left;
    width: 725px;
    border-style: hidden;
    border-color: rgb(150, 150, 150);
    font-size: 24px;
    border-collapse: collapse;
    height: 50px;
    color: rgb(150, 150, 150);
}

.ratingStars {
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}

.ratingStars input {
    display: none;
}

.ratingStars label {
    display: block;
    cursor: pointer;
    width: 50px;
    margin-right: 50px;
}
.ratingStars label:before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: rgb(232, 233, 210);
}
.ratingStars label:after{
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: rgb(242, 255, 0);
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.ratingStars label:hover:after,
.ratingStars label:hover ~ label:after
{
    opacity: 1;
}
.ratingStars input:checked ~ label:after
{
    opacity: 1;
}
.shadow-textarea textarea.form-control::placeholder{
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    width:800px;
    height:200px;
    padding-left: 0.8rem;
}